<h2 class="text-3xl font-bold text-center mb-8 pt-10"><%= t("user.listUser") %></h2>

<div class="flex justify-center mb-1">
  <%= search_form_for @q, url: users_path, method: :get, class: "w-full max-w-4xl" do |f| %>
    <div class="grid grid-cols-4 gap-4 items-center">
      <div class="flex flex-col">
        <%= f.label :username_cont, t("user.search.username"), class: "block text-gray-700 text-sm font-bold mb-1" %>
        <%= f.search_field :username_cont, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="flex flex-col">
        <%= f.label :email_cont, t("user.search.email"), class: "block text-gray-700 text-sm font-bold mb-1" %>
        <%= f.search_field :email_cont, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="flex flex-col">
        <%= f.label :created_at_gteq, t("user.search.created_after"), class: "block text-gray-700 text-sm font-bold mb-1" %>
        <%= f.date_field :created_at_gteq, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="flex flex-col">
        <%= f.label :created_at_lteq, t("user.search.created_before"), class: "block text-gray-700 text-sm font-bold mb-1" %>
        <%= f.date_field :created_at_lteq, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
    </div>
    <div class="flex justify-center pt-4 space-x-2">
      <%= f.submit t("user.search.submit"), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      <%= link_to t("user.search.clear"), users_path, class: "bg-gray-300 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
</div>

<div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mx-auto pt-6">
  <%= render partial: "user", collection: @user_items, as: :user %>
</div>

<div class="flex justify-center items-center my-5 p-2">
  <%== pagy_nav(@pagy) %>
</div>
