
<div class="max-w-4xl mx-auto mt-8">
  <div class="flex items-center border-b border-gray-300 pb-4">
    <div class="relative w-32 h-32 mr-8">
      <% if @user.profile_picture.attached? %>
        <%= image_tag @user.profile_picture, class: "w-full h-full rounded-full object-cover" %>
      <% else %>
        <img class="w-full h-full rounded-full object-cover" src="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-1.jpg" alt="" />
      <% end %>
    </div>
    <div>
      <div class="flex items-center mb-4">
        <h2 class="text-2xl font-semibold mr-4"><%= @user.username %></h2>
        <% if current_user && params[:id] == current_user.id.to_s %>
          <%= link_to t("profile.edit"), "#", class: "bg-gray-200 text-black px-4 py-1 rounded mr-2" %>
        <% else %>
          <%= link_to t("profile.follow.title"), "#", class: "bg-blue-500 text-white px-4 py-1 rounded mr-2" %>
        <% end %>
      </div>
      <div class="flex space-x-4 mb-4">
        <span><strong></strong> <%= t("profile.post") %></span>
        <span><strong></strong> <%= t("profile.follower") %></span>
        <span><%= t("profile.following") %> <strong></strong> <%= t("profile.people") %></span>
      </div>
    </div>
  </div>

  <div class="mt-8">
    <div class="flex justify-around border-b border-gray-300 pb-2">
      <%= link_to t("profile.post").upcase, posts_path, class: "text-center py-2 w-full font-semibold text-black border-b-2 border-black" %>
      <%= link_to t("profile.liked").upcase, "#", class: "text-center py-2 w-full font-semibold text-gray-500" %>
    </div>
    
    <div class="text-center mt-5">
      <%= link_to t("profile.new_post"), new_post_path, class: "bg-blue-500 text-white px-4 py-2 rounded" %>
    </div>
  </div>
</div>
