<div class="flex pt-1">
  <div id="like-button-<%= post.id %>" class="like-container flex items-center">
    <% if current_user && current_user.liked?(post) %>
      <%= render partial: "posts/unlike", locals: {post: post} %>
    <% else %>
      <%= render partial: "posts/like", locals: {post: post} %>
    <% end %>
  </div>
  <p id="like-count-<%= post.id %>" class="ml-1"><%= post.likes.count %></p>
</div>
